{{#each errors}}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ this.msg }}</strong>
    <button type="button" class="close makeDeleteClass" data-dismiss="alert" aria-label="Close" id="deleteMakeItem">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{{/each}}