



<div class="container">
    <div class="row">
        <div class="col col-md-3 mt-2">
            <input type="text" class="form-control" width="100%" id="dateFieldSearchFrom" placeholder="From date">
        </div>
    </div>
</div>