<div class="container" style="margin-top: 200px;">
    <form action="/cars/search" method="POST">
        <div class="form-group">

            <div class="row">

                <div class="col-3">
                    <select class="form-control" style="height: 60px;" id="carsMakeDDL">
                        <option value="" disabled selected hidden>Choose car make</option>
                        {{#each carMakeArray}}
                        <option>{{ this }}</option>
                        {{/each}}

                    </select>
                </div>

                <div class="col-3">
                    <select class="form-control" style="height: 60px;" id="carsModelDDL">
                        <option value="" disabled selected hidden>Choose car model</option>

                    </select>
                </div>

                <div class="col-3">
                    <select class="form-control" style="height: 60px;" id="carsYearDDL">
                        <option value="" disabled selected hidden>Choose car year</option>
                        {{#each yearResult}}
                        <option>{{ this }}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="col-3"><button type="submit" style="height: 60px;; background-color: #393939;"
                        class="btn text-white form-control">Show Results!</button>
                </div>

            </div>




        </div>
    </form>
</div>