<div class="container my-5">

    <div class="mt-5 p-5">
        {{> errors}}
        <form action="/admin/manageMakes" method="POST">
            <div class="row my-4">

                <div class="col-9">
                    <input type="text" style="height: 60px;; background-color: #393939;" class="form-control text-white"
                        placeholder="Enter make" name="makeName" id="makeName">
                </div>

                <div class="col-3"><button type="submit" style="height: 60px;; background-color: #393939;"
                        class="btn text-white form-control">Add Make!</button>
                </div>

            </div>
        </form>
        <div class="row">
            <div class="col">
                {{#each carMakesArray}}
                {{!-- {{#unless @first}} --}}

                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <p><strong>{{ this.make }}</strong></p>
                    <hr>
                    <p>Creation Date: {{ this.createdAt }}</p>
                    <button type="button" class="close makeDeleteClass" data-dismiss="alert" aria-label="Close"
                        custom-attribute="{{this.id}}" id="deleteMakeItem">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                {{!-- {{/unless}} --}}
                {{/each}}
            </div>
        </div>

    </div>
</div>
</div>