<div class="container">
  <div class="row my-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body" style="background-color: rgb(65, 80, 80, 0.8)">
        <h1 class="text-center mb-3  text-white">
          <i class="fa fa-user-plus"></i> Register
        </h1>
        <hr class="mb-4" style="border: 1px solid white;">
        {{> errors}}
        <form action="/users/register" method="POST">
          <div class="form-group">
            <input type="name" id="name" name="name" class="form-control" style="height: 60px;" placeholder="Enter Name"
              value="{{name}}" />
          </div>
          <div class="form-group">
            <input type="email" id="email" name="email" class="form-control" style="height: 60px;"
              placeholder="Enter Email" value="{{email}}" />
          </div>
          <div class="form-group">
            <input type="password" id="password" name="password" class="form-control" style="height: 60px;"
              placeholder="Create Password" value="{{password}}" />
          </div>
          <div class="form-group">
            <input type="password" id="password2" name="password2" class="form-control" style="height: 60px;"
              placeholder="Confirm Password" value="{{password2}}" />
          </div>
          <button type="submit" class="btn btn-light btn-block" style="height: 50px; font-size: 20px;">
            <i class="fa fa-user-plus"></i> Register
          </button>
        </form>

        <div class="row mt-3 text-white">
          <div class="col-5">
            <hr style="border: 1px solid white;">
          </div>
          <div class="col-2 text-center">
            <p class="lead test-center">Or</p>
          </div>
          <div class="col-5">
            <hr style="border: 1px solid white;">
          </div>
        </div>

        <a class="btn btn-light" style="height: 50px; font-size: 20px;" href="/users/login"><i
            class="fa fa-sign-in"></i>
          Have an Account Account? Login</a>

      </div>
    </div>
  </div>
</div>