.footerContainer {
    background-color: #666666;
    left: 0;
    right: 0;
    bottom: 0;
    height: 65px;
    position: absolute;
    width: 100%;
}

.footerContainer p {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.custom-button {
    width: 200px !important;
}

.header-item:hover {
    background-color: #666666;
}

.custom-button:hover {
    background-color: #666666 !important;
}

@media (max-width:992px) {
    .custom-button {
        width: 100px !important;
    }
}

.searchForm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input[type=email] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 52px;
    font-size: 16px;
    background-color: white;
    background-image: url('/images/email.ico');
    background-position: 10px; 
    background-repeat: no-repeat;
    padding: 18px 50px 18px 50px;
  }

  input[type=password] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 52px;
    font-size: 16px;
    background-color: white;
    background-image: url('/images/password.ico');
    background-position: 10px; 
    background-repeat: no-repeat;
    padding: 15px 50px 18px 50px;
  }

  input[type=name] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 52px;
    font-size: 16px;
    background-color: white;
    background-image: url('/images/user.ico');
    background-position: 10px; 
    background-repeat: no-repeat;
    padding: 15px 50px 18px 50px;
  }

  img {
    height: 45vh;
  }